<section>
  <div class="page-header">
    <h1>{{vm.animal._id ? 'Edit Animal' : 'New Animal'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.animalForm" class="form-horizontal" ng-submit="vm.save(vm.form.animalForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="name">Name</label>
          <input name="name" type="text" ng-model="vm.animal.name" id="name" class="form-control" placeholder="Name" required>
          <div ng-messages="vm.form.animalForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Animal name is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="race">Race</label>
          <input name="race" type="text" ng-model="vm.animal.race" id="race" class="form-control" placeholder="Race" required>
          <div ng-messages="vm.form.animalForm.race.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Animal race is required.</p>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.animal._id ? 'Update' : 'Create'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
